# dependencies
/node_modules
/.pnpm-store

# next.js
/.next/
/out/

# production
/build

# local data
/data

# env files
.env*.local
.env

# typescript
*.tsbuildinfo
next-env.d.ts

# OS files
.DS_Store
Thumbs.db
